@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

:root {
  --font-orbitron: 'Orbitron', sans-serif;
  --white: #FFF;
  --blue: #57B8FF;
  --black: #000000;
  --gray: #999;
}